.Drawer__Container--left {
    padding-top: 8rem;
    height: 100vh;
    width: 200px;
    background-color: #2e2e2e;
    transition: all 0.3s ease-in-out;
    transform: translate(-200px);
    position: fixed;
    box-shadow: 5px 0px 18px rgb(0, 0, 0, 0);
    z-index: 98;
}

.Drawer__Container--right {
    padding-top: 8rem;
    height: 100vh;
    width: 200px;
    background-color: #2e2e2e;
    transition: all 0.3s ease-in-out;
    transform: translate(calc(100vw + 200px));
    position: relative;
    right: 0px;
    box-shadow: 5px 0px 18px rgb(0, 0, 0, 0);
    z-index: 98;
}

.Drawer__right--isOpen {
    transform: translate(calc(100vw - 200px));
    /* box-shadow: unset;
    box-shadow: 5px 8px 18px rgb(0, 0, 0, 0.7); */
}

.Drawer__left--isOpen {
    transform: translate(0);
    /* box-shadow: unset;
    box-shadow: 5px 8px 18px rgb(0, 0, 0, 0.7); */
}

.Drawer__toggle-right {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
}

.Drawer__toggle-left {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}