@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: .85rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /* Color schemes */
  --clr-background-1: #f4f2f1;
  /* Boomers */
  --clr-boom-1: hsl(46deg 35% 63%);

  /* best */
  --clr-boom-2: hsl(205deg 47% 37%);
  /* best */

  --clr-boom-3: hsl(203deg 31% 26%);
  --clr-boom-4: hsl(39deg 93% 57%);
  --clr-boom-5: hsl(350deg 100% 29%);

  /* GenZ */
  --clr-genz-1: hsl(52deg 89% 63%);
  --clr-genz-2: hsl(240deg 50% 89%);
  --clr-genz-3: hsl(112deg 84% 41%);

  /* best */
  --clr-genz-4: hsl(330deg 100% 70%);
  /* best */

  --clr-genz-5: hsl(180deg 100% 51%);

  /* GenX */
  --clr-genx-1: hsl(0deg 77% 88%);
  --clr-genx-2: hsl(88deg 73% 88%);
  --clr-genx-3: hsl(181deg 75% 88%);
  --clr-genx-4: hsl(16deg 100% 71%);

  /* best */
  --clr-genx-5: hsl(256deg 99% 71%);
  /* best */

  /* Millenials */
  --clr-mill-1: hsl(175deg 76% 57%);
  --clr-mill-2: hsl(346deg 64% 58%);
  --clr-mill-3: hsl(41deg 84% 65%);
  --clr-mill-4: hsl(68deg 50% 52%);

  /* best */
  --clr-mill-5: hsl(29deg 23% 58%);
  /* best */


  --clr-theme-1: #5856d6;
  --clr-theme-2: #007aff;
  --clr-theme-3: #34aadc;
  --clr-theme-4: #5ac8fa;
  --clr-theme-5: #4cd964;
  --clr-theme-6: #ff2d55;
  --clr-theme-7: #ff3b30;
  --clr-theme-8: #ff9500;
  --clr-theme-9: #ffCc00;
  --clr-theme-10: #8e8e93;
}



/*
Blues 
rgb(46, 81, 237) 
rgb(32, 54, 161) 
*/

/* Global */

body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.app {
  width: 100vw;
  height: 100vh;
  background: transparent;
  color: rgb(72, 49, 49);
}

.vible-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.circle {
  position: fixed;
  z-index: 5;
  width: 32px;
  height: 32px;
  background-color: #dddddd;
  border-radius: 50%;
  pointer-events: none;
}

/* Forms */
input,
select {
  padding: .2rem .6rem;
  margin: .2rem 0;
  /* font-size: .7rem; */
}

textarea {
  padding: .2rem .6rem;
  margin: .2rem 0;
  font-size: 1rem;
  color: #000000;
}

input[type="color"] {
  min-width: 3rem;
  padding: 0;
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 2rem;
  height: 1.8rem;
  border: none;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 1.5rem;
  border: 1px solid #dddddd;
  border-radius: 1rem;
}

input[type="color"]::-moz-color-swatch {
  border-radius: 50%;
  border: 1px solid #dddddd;
  border-radius: 1rem;
}

input[type="number"] {
  min-width: 4rem;
  border-radius: .2rem;
}

button,
::file-selector-button {
  background-color: hsl(240, 32%, 90%);
  outline: none;
  border: none;
  color: white;
  padding: .5rem 1rem;
  margin: .05rem .1rem;
  border-radius: .4rem;
  user-select: none;
  cursor: pointer;
  /* opacity: .6; */
}

::file-selector-button {
  background-color: hsl(240, 19%, 76%);
  font-size: .8rem;
  font-weight: bold;
  display: flex;
  padding: .5rem 1rem;
  margin-left: -.3rem;
  margin-bottom: .3rem;
}

.disabled {
  background-color: hsl(0, 0%, 92%) !important;
}

.disabled:hover {
  background-color: hsl(0, 0%, 92%) !important;
  cursor: not-allowed;
}

@media (hover: hover) {

  button:hover,
  ::file-selector-button:hover {
    /* background-color: rgb(5, 0, 105); */
    box-shadow: 0px 0px 2px rgb(5, 0, 105);
    user-select: none;
  }
}

.themable:hover {
  /* background-color: rgb(11, 9, 112) !important; */
}

.selected-button {
  background-color: rgb(130, 70, 186);
}

/* Top forms */
.box-form-top-select {
  color: rgb(198, 198, 198);
  border: 1px solid #ddd;
  font-size: 1rem;
}

.box-form-top-select-option {
  font-size: 2rem;
  min-height: 200px;
  width: 100%;
  padding: 10px
}

.box-form-top-span {
  font-size: 2rem;
}

.item-edit-form {
  display: flex;
}

.path-edit-form-button {
  background-color: #afb1c8e6;
  /* padding: .3rem .6rem; */
}

.path-edit-form-svg {
  cursor: pointer;
  /* margin-left: -.2rem; */
}

/* .move-item,
.move-item-toback,
.move-item-tofront,
.move-item-backward,
.move-item-forward {
  transform: rotate(0deg);
} */

.buttons-top-activeboard {
  width: 1rem;
  height: 1rem;
  background-color: #ffffff;
  border-radius: 50%;
  color: hsl(240, 11%, 66%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -.1rem;
  right: -.6rem;
}

.clipboard-button {
  background-color: #ca4a57;
  color: hsl(240, 7%, 47%);
  position: relative;
}

.clipboard-svg {
  margin-left: -.3rem;
}

.clear-clipboard {
  width: 0rem !important;
  height: 1.2rem !important;
  background-color: #f3f2f2;
  border-radius: 30% !important;
  color: hsl(240, 6%, 45%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 2rem;
  left: -1.5rem;
  padding: .1rem;
}

.drawing-done {
  padding: .3rem .6rem;
}

.drawing-done-svg {
  cursor: pointer;
  margin-left: -.2rem;
}





.itemForms-top {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .8rem;
  z-index: 100;
}

.writing-sign {
  margin-top: .2rem;
  margin-left: -.2rem;
}

.erasing-sign {
  margin-top: .1rem;
  margin-left: -.3rem;
}

.grouping-sign {
  margin-top: .1rem;
  margin-left: -.3rem;
}

.boards-sign {
  position: relative;
  min-width: 1.2rem;
  letter-spacing: -.1rem;
  margin-top: -.1rem;
  margin-left: -.55rem;
}

.editing-sign {
  min-width: 1.2rem;
  letter-spacing: -.1rem;
  margin-top: .1rem;
  margin-left: -.35rem;
}

.info-sign {
  min-width: 1.2rem;
  letter-spacing: -.1rem;
  margin-top: .1rem;
  margin-left: -.38rem;
}

.editing-sign-line {
  font-size: 1.4rem;
  margin-left: -.4rem;
}

.editing-sign-pen {
  font-size: 1.2rem;
  font-weight: bold;
}

.input-line-width {
  width: 3rem;
}

.drawing-sign {
  width: 1.2rem;
}

.drawing-sign-container {
  margin-top: .1rem;
  margin-left: -.3rem;

}

.drawing-sign-sign {
  font-size: 1.8rem;
  font-weight: bold;
}

.clear-lines {
  margin-top: .3rem;
  margin-left: .1rem;
}

.top-buttons {
  display: flex;
  width: 100vw;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.top-buttons button {
  /* border-radius: 0 0 12px 12px; */
  width: 3rem;
  height: 3rem;
  max-width: 3rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 24%;
}

.inputs-top_draw {
  margin: 0 auto;
  min-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .2rem .6rem;
  gap: .2rem .8rem;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.4);
  background-image: linear-gradient(rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0));
  z-index: 10;
  border-radius: 3rem;
}

.inputs-top_draw label {
  margin-bottom: .4rem;
}

.inputs-top_draw button {
  background: rgba(175, 177, 200, 0.9);
  font-size: 1.2rem;
  border-radius: 3rem;
}

.inputs-top_objects {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .2rem .3rem;
  background: rgba(255, 255, 255, 0.6);
  background-image: linear-gradient(rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0));
  z-index: 10;
  margin: 0 auto;
  border-radius: 5rem;
}

.inputs-top_objects button {
  color: rgba(175, 177, 200, 0.9);
  background: rgba(255, 255, 255, 0.9);
  font-size: 1rem;
  font-weight: bold;
  border-radius: 3rem;
}

.inputs-top_objects input[type="text"],
.inputs-top_objects textarea {
  border-radius: .5rem;

}

.inputs-top_objects-form {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .2rem .3rem .3rem 1rem;
  height: 3rem;
  font-size: .7rem;
  background: rgba(255, 255, 255, 0.6);
  background-image: linear-gradient(rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0));
  z-index: 10;
  margin: 0 auto;
  border-radius: 5rem;
  gap: .2rem .8rem;
}

.inputs-top_objects-form button {
  background: rgba(138, 142, 184, 0.9);
  font-size: .8rem;
  font-weight: bold;
  border-radius: 3rem;
}

.inputs-top_draw-form {
  margin: 0 auto;
  min-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .2rem .6rem;
  gap: .2rem .8rem;
  height: 3rem;
  font-size: .7rem;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.4);
  background-image: linear-gradient(rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0));
  z-index: 10;
  border-radius: 3rem;
}

.inputs-top_draw-form label {
  font-weight: bold;
  margin-bottom: 0;
  margin-right: .5rem;
}

.inputs-top_objects-form label {
  font-weight: bold;
  margin-bottom: 0;
  margin-right: .5rem;
}

.inputs-top_objects .active-tool {
  background-color: rgb(130, 70, 186);
}

.inputs-boards_objects {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .3rem;
  padding: .4rem .3rem .3rem 1rem;
  /* background: rgba(255, 255, 255, 0.6); */
  background: rgb(255, 255, 255);
  background-image: linear-gradient(rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0));
  z-index: 10;
  margin: 0 auto;
  border-radius: 5rem;
}

.inputs-boards_objects label {
  font-weight: bold;
  margin-bottom: 0;
  margin-right: .5rem;
}

.inputs-boards_objects-nav {
  font-size: .8rem;
  font-weight: bold;
  border-radius: 3rem;
}

.inputs-boards_objects-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background-color: #ffffff;
  color: #cccccc;
  font-weight: bold;
  font-size: 1.4rem;
  border-radius: 1rem;
}

.inputs-boards_objects button:hover {
  color: #000000;
}

.board-form-file-upload {
  user-select: none;
}

.top-buttons-slider-prev {
  padding-top: .6rem;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.4rem;
  border-radius: 2rem;
}

.top-buttons-slider-chunk {
  display: flex;
  justify-content: space-evenly;
}

.top-buttons-slider-next {
  padding-top: .6rem;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.4rem;
  border-radius: 2rem
}

.top-buttons-slider-disabled {
  background: transparent !important;
  color: transparent;
  font-weight: bold;
  font-size: 1.4rem;
  border-radius: 2rem
}



/* Board */
.board-frame {
  flex-grow: 1;
  max-width: 100vw;
  max-height: 100vh;
  background: rgba(255, 255, 255, 0.6);
  background-image: linear-gradient(rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0));
  user-select: none;
  -webkit-user-select: none;
  touch-action: none;
  /* overflow-y: scroll; */
  overflow: hidden;
}

.board-body {
  background-color: #ffffff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: none;
}

/* Box */
.box-group {
  user-select: none;
}

.box-frame {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: move;
  user-select: none;
  text-align: left;
  /* border-radius: 6px; */
}

.box-container {
  cursor: move;
  user-select: none;
  text-align: left;
  padding: 1rem;
  /* border-radius: 6px; */
  width: 100%;
  height: 100%;
}

.box-frame-link-p {
  text-decoration: underline;
  margin-bottom: .5rem;
  user-select: none;
  text-align: right;
}

.box-frame-link-p-a {
  text-decoration: none;
  user-select: none;
}

.box-textarea {
  background-color: transparent;
  font-family: sans-serif;
  width: 100%;
  height: 80%;
  z-index: 101;
  overflow-x: hidden;
  overflow-y: auto;
}

.box-content {
  height: 100%;
  user-select: none;
  font-family: sans-serif;
  z-index: 100;
}

.box-content-pre {
  white-space: pre-wrap;
}

/* @media print {
  .box-content-pre {
    padding: .5rem !important;
  }
} */

.box-content-p {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 1.2rem;
  cursor: move;
  user-select: none;
}

/* Box controls */
.box-control-cursor {
  cursor: pointer;
}

.box-control {
  cursor: pointer;
  border-radius: 12px;
  user-select: none;
}

.box-control-sign {
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  user-select: none;
}

/* Confirm */
.confirm-container {
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  background-color: purple;
  transition: all .3s ease-in-out;
  transform: translatex(12rem) scale(1);
}

.confirm-container-top {
  width: 20%;
  margin: 0 auto;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  background-color: purple;
  transition: all .3s ease-in-out;
  border-radius: 1rem;
  /* transform: translatex(12rem) scale(1); */
}

.confirm-box-control {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 12px;
  user-select: none;
  transition: all 0.3s ease-in-out;
}

/* .confirm {
  height: 4rem;
  background-color: purple;
  transition: all 0.3s ease-in-out;
} */
.confirm-show {
  height: 4rem;
  transition: all 0.3s ease-in-out;
  transform: translateX(-12rem) scale(1);
}

.confirm-hide {
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  transform: translateX(-12rem) scale(0);
}



.confirm-h3 {
  color: #ffffff;
}

.confirm-svg {
  cursor: pointer;
}

/* Rating */
.box-rating {
  margin-top: .4rem;
  user-select: none;
  display: flex;
  gap: .3rem;
  justify-content: flex-end;
  background-color: transparent;
}

.rating-star {
  width: .8rem;
  height: .8rem;
  margin-bottom: .4rem;
  border-radius: 50%;
  user-select: none;
}

/* Drawing */
.drawing-path {
  cursor: grabbing;
  pointer-events: auto;
  user-select: none;
}

/* Image */
.image-media {
  display: block;
  z-index: 999999;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  user-select: none;
}

/* Image link */
.imagelink-media {
  cursor: move;
  user-select: none;
  display: block;
  z-index: 999999;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* video */
.video-group {
  user-select: none;
}

.video-object {
  display: block;
  z-index: -100;
  position: absolute;
  background-color: transparent;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: .5rem;
  user-select: none;
  pointer-events: all;
}

.video-isnotsafari {
  background-color: #000000;
  user-select: none;
  border-radius: 1rem 1rem 0 0;
}

.video-frame {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  user-select: none;
  pointer-events: all;
}


/* map */
.map-fobject {
  display: block;
  z-index: -100;
  position: absolute;
  background-color: transparent;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: .5rem;
  user-select: none;
  pointer-events: all;
}

.map-isnotsafari {
  background-color: #000000;
  user-select: none;
  border-radius: 1rem 1rem 0 0;
}

.map-object {
  width: 300;
  height: 200;
  user-select: none;
}

.map-frame {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: all;
  border: 0;
  user-select: none;
}

/* Pdf */
.pdf-group {
  user-select: none,
}

.pdf-object {
  display: block;
  z-index: -100;
  position: absolute;
  background-color: transparent;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: .5rem;
  user-select: none;
  pointer-events: all;
  cursor: move;
}

.pdf-isnotsafari {
  background-color: #000000;
  user-select: none;
  border-radius: 1rem 1rem 0 0;
}

.pdf-frame {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  user-select: none;
  pointer-events: all;
}

/* Documentation */
.docu-header {
  height: 10rem;
  margin: 2rem;
  font-size: 3rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.documentation-logo {
  border-radius: 2rem;
  width: 160px;
}

.docu-title {
  color: #d1d1d1;
  font-size: 1.6rem;
  line-height: 1;
}

.toggle-documentation {
  position: fixed;
  width: 50px;
  height: 50px;
  top: 1rem;
  left: 12%;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 24%;
  padding-top: .6rem;
  padding-left: 1rem;
}

.toggle-documentation button {
  background-color: hsl(240, 26%, 93%);
  color: #000000;
}

.toggle-documentation:hover button {
  background-color: rgb(11, 9, 112);
}

.documentation-sign {
  width: 2rem;
  height: 2rem;
  border: 3px solid #ffffff;
  border-radius: .6rem;
}

.toggle-documentation div {
  font-size: 2rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

.documentation-show {
  margin: 0 auto;
  top: 0;
}

.documentation-hide {
  /* top: -30rem; */
  top: -100vh;
}

.documentation-container {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: .4rem;
  padding: .5rem;
}

.documentation {
  padding: 1rem;
  line-height: 1.8;
  position: fixed;
  background: rgba(255, 255, 255, 1);
  background-image: linear-gradient(rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0));
  width: 100%;
  /* height: 30rem; */
  height: 100vh;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 1003;
  transition: all 0.5s ease-in-out;
}

.documentation h2 {
  background-color: hsl(240, 16%, 87%);
  color: #ffffff;
  padding: 1rem;
  /* margin-top: 1rem; */
}

.documentation h1+div {
  margin-top: 0;
}

.documentation h2,
.documentation p,
.documentation span,
.documentation li,
.documentation strong,
.documentation em,
.documentation a {
  font-size: 1.2rem;
  /* margin-bottom: .4rem; */
}

.documentation li {
  list-style: none;
  list-style-position: outside;
}

.documentation button:hover {
  /* background-color: #007bff; */
  background-color: hsl(240, 6%, 87%);
}

.documentation .accordion-container {
  overflow-y: auto;
}

.documentation .copyright {
  font-size: .8rem;
}

/* Download Upload */
.download-form {
  padding: .6rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.upload-svg {
  transform: rotate(180deg);
}

.hidden {
  display: none;
}

/* Tooltips */
.tooltips-container {
  text-align: center;
  padding: 0;
  height: 2rem;
  z-index: 100;
}

/* Todos */
.toggle-todo {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -6rem;
  right: 1.5rem;
  /* font-size: 4rem; */
  border-radius: 24%;
  padding-top: .7rem;
  padding-left: .7rem;
  margin-top: 0;
}

/* .toggle-todo div {
  font-size: 2rem;
  transform: rotate(90deg);
  margin-right: -.5rem;
  font-weight: bold;
} */

.todo-show {
  bottom: 0;
}

.todo-hide {
  bottom: -30rem;
}

.todo {
  padding: 1rem;
  position: fixed;
  background: rgba(255, 255, 255, 1);
  background-image: linear-gradient(rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0));
  width: 27rem;
  height: 30rem;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  z-index: 1002;
  transition: all 0.3s ease-in-out;
  border-radius: 1rem 0 0 0;
}

.todo-list {
  width: 27rem;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.todo ul {
  padding: 0;
  width: 95%
}

.todo li {
  padding: 0.5rem;
  width: 100%;
  border: none;
  list-style: none;
}

.todo form {
  padding: 1rem;
  width: 100%;
  display: flex;
  width: 24rem;
  color: #000000;
  gap: .6rem;
}



.todo-card {
  padding: 1rem;
  width: 100%;
  display: flex;
  width: 24rem;
  gap: .6rem;
  overflow: hidden;
}

.todo li .todo-buttons {
  display: flex;
  width: 40%;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  transition: all 0.3s ease-in-out;
}

.todo li .todo-buttons button {
  color: #cbd5e1;
  justify-self: stretch;
}

.todo-dragging {
  pointer-events: none;
  touch-action: none;
  -ms-touch-action: none;
  box-shadow: 2px 20px 30px rgba(0, 0, 0, 0.2);
}

.todo-container {
  max-width: 450px;
  width: 100%;
  padding: 30px 20px;
  display: flex;
  gap: .2rem;
  flex-direction: column;
  border-radius: 10px;
  touch-action: none;
  -ms-touch-action: none;
}

.todo-container .card {
  width: 100%;
  height: 4rem;
  color: #000000;
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 8px;
  box-shadow: 2px 20px 30px rgba(0, 0, 0, 0.08);
  cursor: grab;
  user-select: none;
  overflow: hidden;
}

.todo-container button {
  background-color: rgb(70, 76, 103);
}

.todo form button {
  font-size: 1.4rem;
  /* background-color: rgb(70, 76, 103); */
  padding: .4rem .8rem;
}

.card .box {
  flex: 1;
  display: flex;
  align-items: center;
  gap: .8rem;
  padding: 0 10px;
}

.todo-container .dragging {
  touch-action: none;
  -ms-touch-action: none;
}

.todo-button {
  width: 2rem;
  height: 2.2rem;
}

.todo-delete {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: -.4rem;
  margin-top: -.3rem;
}

.todo-board-out {
  width: 1.2rem;
  height: 1.2rem;
  margin-left: -.6rem;
  border: 1px solid #cbd5e1;
  border-radius: .2rem;
  margin-top: -.1rem;
}

.todo-board-in {
  font-size: 1rem;
  font-weight: bold;
  width: 1rem;
  height: 1rem;
  margin-top: -1.3rem;
  margin-left: -.5rem;
  margin-bottom: .2rem;
}

.todo-edit {
  max-width: 1rem;
  margin-top: -.4rem;
  margin-left: -1rem;
  padding: .3rem
}

.todo-edit-pen {
  font-size: 1rem;
  font-weight: bold;
}

.todo-edit-line {
  font-size: 1rem;
}

/* Gallery */
.toggle-gallery {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -6rem;
  left: 1rem;
  font-weight: bold;
  border-radius: 24%;
  padding-top: .8rem;
  padding-left: .85rem;
}

.gallery-sign {
  width: 2rem;
  height: 2rem;
  border: 3px solid #ffffff;
  border-radius: .6rem;
}

.toggle-gallery div {
  font-size: 2rem;
  margin-top: -.1rem;
  margin-left: -.1rem;
}

.gallery-show {
  bottom: 0;
}

.gallery-hide {
  bottom: -12rem;
}

.gallery {
  padding: 1rem;
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  background-image: linear-gradient(rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0));
  width: 100%;
  height: 12rem;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 1001;
  transition: all 0.3s ease-in-out;
}

.gallery-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: .4rem;
  padding: .5rem;
  overflow-x: auto;
}

.gallery form {
  height: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: .8rem;
  padding: .5rem;
}

.gallery form button {
  padding: .2rem .8rem .4rem;
  font-size: 1.2rem;
  /* background-color: rgb(46, 81, 237); */
}

.gallery-buttons {
  display: flex;
  flex-direction: column;
  gap: .4rem;
}

.gallery form input {
  max-width: 14rem;
}

.gallery ::file-selector-button {
  display: inline-block;
}

.gallery ::file-selector-button {
  margin-right: .5rem;
}

.gallery-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: .6rem .8rem;
  width: 10rem;
  max-width: 10rem;
  list-style: none;
  /* color: #ffffff; */
  border: 1px solid rgb(221, 221, 221);
  border-radius: 1rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0));
}

.gallery-list {
  display: flex;
  gap: 1rem;
}

.gallery-box button {
  color: #cbd5e1;
  background-color: rgb(70, 76, 103);
}

.gallery-list img {
  max-height: 6rem;
  max-width: 6rem;
  object-fit: cover;
}

.gallery-button {
  width: 2rem;
  height: 2.2rem;
}

.gallery-delete {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: -.4rem;
  margin-top: -.3rem;
}

.gallery-board-out {
  width: 1.2rem;
  height: 1.2rem;
  margin-left: -.6rem;
  border: 1px solid #cbd5e1;
  border-radius: .2rem;
  margin-top: -.1rem;
}

.gallery-board-in {
  font-size: 1rem;
  font-weight: bold;
  width: 1rem;
  height: 1rem;
  margin-top: -1.3rem;
  margin-left: -.5rem;
  margin-bottom: .2rem;
}

/* Sidebars */
/* .right-sidebar-buttons {
  padding: .5rem;
  margin-top: -.5rem;
} */

.right-sidebar-buttons button {
  margin: 0 auto;
}

.zoom-slider label {
  white-space: nowrap;
  margin-bottom: 0;
}

.leftsidebar-video-svg {
  margin-left: .4rem;
}

.left-sidebar {
  background: transparent;
  margin-top: 4rem;
  /* max-height: 100vh;
  overflow-y: auto; */
  overflow-x: hidden;
}

.left-sidebar .itemForms p {
  max-width: 12rem;
  word-break: break-all;
}

.left-sidebar-buttons {
  padding: 0 .4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .8rem;
}

.toggler {
  width: 4rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12%;
  transition: 0.4s ease;
}

.right-sidebar {
  background: transparent;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  gap: .4rem .8rem;
}

.right-sidebar-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: center;
  gap: .8rem;
  padding: .5rem .5rem;
}

.board-style {
  margin-bottom: -1rem;
}

.drawerContents-container-left {
  margin-top: 0;
  padding-top: 0;
  overflow-x: hidden;
  /* overflow-y: hidden;
  height: 100%; */
}

.drawerContents-container-right {
  margin-top: 0;
  padding-top: 0;
  /* overflow-x: hidden;
  overflow-y: auto; */
}

.drawer-container-left {
  flex-shrink: 0;
  width: 0;
  margin-top: 4rem;
  background: transparent;
  transition: all 0.3s ease-in-out;
  z-index: 100;
  overflow-y: auto;
}

.drawer-container-right {
  flex-shrink: 0;
  width: 0;
  margin-top: 4rem;
  background: transparent;
  transition: all 0.3s ease-in-out;
  z-index: 100;
  overflow-y: auto;
  overflow-x: hidden;
}

.drawer-container-right button {
  background-color: rgb(255, 255, 255);
  color: rgb(156, 156, 156);
}

.drawer-container-right button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(220, 220, 220);
}


.drawer-container-left button {
  background-color: rgb(255, 255, 255);
  color: rgb(156, 156, 156);
}

.drawer-container-left button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(180, 183, 198);
}

.drawer-left-isOpen {
  background: rgba(255, 255, 255, 0.9);
  width: 70px;
  transition: all .5s;
  transform: translateX(0.2rem) translateY(2rem) scale(1);
  border-radius: 0 1.2rem 1.2rem 0;
  z-index: 999;
  max-height: 75vh;
}

.drawer-right-isOpen {
  background: rgba(255, 255, 255, 0.9);
  width: 240px;
  transition: all .5s;
  transform: translateX(0.2rem) translateY(2rem) scale(1);
  border-radius: 1.2rem 0 0 1.2rem;
  z-index: 999;
  max-height: 75vh;
}

.drawer-left-isMoreOpen {
  width: 240px;
}

.drawer-toggle-right {
  width: 50px;
  height: 50px;
  position: fixed;
  font-weight: bold;
  top: 1rem;
  right: 1.5rem;
  padding-top: .8rem;
  z-index: 101;
  border-radius: 24%;
}

.drawer-toggle-right:hover {
  background-color: rgb(11, 9, 112);
}

.drawer-toggle-left:hover {
  background-color: rgb(11, 9, 112);
}

.drawer-toggle-left {
  width: 50px;
  height: 50px;
  position: fixed;
  font-weight: bold;
  top: 1rem;
  left: 1rem;
  padding-top: .8rem;
  z-index: 101;
  border-radius: 24%;
}

.sidebar-zoom {
  display: flex;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.zoom-slider {
  margin-top: 1rem;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Sidebar forms */
.itemForms {
  background: rgba(255, 255, 255, 0.9);
  background-image: linear-gradient(rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0));
  padding: .8rem .4rem;
  border-radius: 12px;
  width: 100%;
  z-index: 0;
}


/* File upload form */
.form-file-upload {
  height: 8rem;
  font-size: .8rem;
  width: 100%;
  max-width: 100%;
  text-align: center;
  position: relative;
}

.input-file-upload {
  display: none;
}

.label-file-upload {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-radius: 1rem;
  border-style: dashed;
  border-color: #cbd5e1;
  background-color: hsl(0, 0%, 100%);
  color: #c7c7c7;
}

.label-file-upload.drag-active {
  background-color: #e5c0c0;
}

.upload-button {
  margin-top: .5rem;
  cursor: pointer;
  padding: 0.4rem;
  font-size: .8rem;
  border: none;
  background-color: transparent;
}

.upload-button:hover {
  text-decoration-line: underline;
}

.drag-file-element {
  user-select: none;
}

/* File upload to Board */
.board-form-file-upload {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.board-input-file-upload {
  display: none;
}

.board-label-file-upload {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.board-label-file-upload.drag-active {
  background-color: transparent;
}

.board-upload-button {
  background-color: transparent;
}

.board-button {
  background-color: hsl(0, 0%, 100%);
  color: #000000;
}

.drag-file-element {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

/* Theme switcher */
.switcher {
  display: flex;
  list-style: none;
  padding: 0;
  overflow: hidden;
}

.switcher li {
  width: 50px;
  height: 20px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 2%;
}

/********** Range Input Styles **********/

.range-container {
  display: flex;
  flex-direction: column;
}

.range-container input[type="range"] {
  width: 15rem;
}

.range-container h1+div {
  margin-top: 5rem;
}

.range-container label {
  margin-bottom: 1rem;
}

.hide-label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*Range Reset*/

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 12rem;
}

/* Removes default focus */

input[type="range"]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */

input[type="range"]::-webkit-slider-runnable-track {
  background-color: #053a5f;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  margin-top: -12px;
  background-color: #d9d9d9;
  border-radius: 1rem;
  height: 2rem;
  width: 1rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  border: 1px solid #053a5f;
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem;
}

/******** Firefox styles ********/
/* slider track */

input[type="range"]::-moz-range-track {
  background-color: #053a5f;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */

input[type="range"]::-moz-range-thumb {
  border: none;
  border-radius: 0;
  background-color: #d9d9d9;
  height: 2rem;
  width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
  border: 1px solid #053a5f;
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem;
}

/********** Checkbox Input Styles **********/

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  padding-top: .4rem;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 1px solid #bbbbbb;
  border-radius: .4rem;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked~.checkmark {
  background-color: #b4b2b2;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/********** End of Checkbox Input Styles **********/


/********** Select Input Styles **********/

/* SelectField.css */

.select-container {
  margin: 0;
  z-index: 99;
}

.custom-select {
  appearance: none;
  padding: .5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  width: 8rem;
}

.custom-select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

/********** End of Select Input Styles **********/

/********** Color Input Styles **********/
.color-style {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 2rem;
  height: 1.8rem;
  border: none;
  cursor: pointer;
}

.color-style::-webkit-color-swatch {
  border-radius: 1.5rem;
}

.color-style::-moz-color-swatch {
  border-radius: 50%;
}

/********** End of Color Input Styles **********/


@media only screen and (max-width: 800px) {
  .inputs-top_objects {
    overflow: hidden;
    /* margin-top: 1.6rem; */
    padding: 0.3rem 0.3rem;
    width: auto;
    grid-template-columns: 1fr 6rem;
  }

  .inputs-top_objects button {
    font-size: 1rem;
    padding: 0.6rem 0.8rem;
    margin: 0.05rem 0.1rem;
    border-radius: 5rem;
  }

  .inputs-top_objects .next,
  .inputs-top_objects .prev {
    padding: .5rem .9rem;
  }

  .inputs-boards_objects {
    padding: 0.2rem 0.6rem;
    overflow: hidden;
    margin-top: 1.8rem;
    width: auto;
    grid-template-columns: 1fr 6rem;
  }

  .inputs-boards_objects button {
    font-size: 1rem;
    /* padding: 0rem 0.6rem 0.2rem; */
    margin: 0.2rem 0.2rem;
    border-radius: .6rem;
  }

  .inputs-boards_objects .active-board {
    padding: .5rem .8rem;
  }

  .board-button {
    background-color: hsl(240, 8%, 56%);
    outline: none;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    margin: 0.05rem 0.1rem;
    border-radius: 0.4rem;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    /* opacity: .6; */
  }

  .active-board-button {
    background-color: hsl(0, 87%, 63%);
    outline: none;
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    margin: 0.05rem 0.1rem;
    border-radius: 0.4rem;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    /* opacity: .6; */
  }

  .itemForms-top {
    gap: .2rem;
  }

  .inputs-top_draw {
    display: flex;
    height: 3rem;
    overflow-y: hidden;
    overflow-x: hidden;
    /* margin-top: 1.6rem; */
    padding: 1.5rem .5rem;
    gap: 1rem;
    width: auto;
  }

  .inputs-top_draw button {
    /* font-size: 1rem;
    padding: .3rem;
    margin: 0;
    border-radius: 2rem;
     */
    font-size: 1.2rem;
    font-weight: bold;
    padding: .4rem .8rem;
    border-radius: .6rem;
  }

  .path-edit-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .path-edit-form button {
    font-size: 1.2rem;
    font-weight: bold;
    padding: .4rem .8rem;
    border-radius: .6rem;
  }

  .toggle-documentation {
    top: 22rem;
    left: 1.2rem;
  }

  .documentation-container {
    width: 70%;
  }

  .documentation {
    z-index: 100;
  }

  .documentation-show {
    z-index: 1003;
  }

  .confirm-container-top {
    width: 30%;
  }

  .todo {
    height: 20rem;
  }

  .todo-hide {
    height: 30rem;
  }
}

@media only screen and (max-width: 600px) {

  .inputs-top_objects-form {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    height: auto;
    gap: .8rem;
    padding: .4rem;
    border-radius: .6rem;
    /* background-color: #dddddd; */
  }


  .documentation-container {
    width: 80%;
  }

  .docu-header {
    display: block;
    height: auto;
  }

  .accordion__section button {
    text-align: left;
  }

  .top-buttons {
    width: 60vw;
    margin: 0 auto;
    border-radius: 0 0 12px 12px;
    gap: 0;
  }

  .itemForms-top {
    flex-direction: column;
  }

  .top-buttons button {
    flex-basis: 0;
    font-size: .7rem;
  }

  .inputs-top_draw {
    width: auto;
  }

  .inputs {
    display: flex;
    flex-direction: column;
    gap: .2rem;
  }

  .confirm-container-top {
    width: 60%;
  }
}




#src-btn,
.screenshot {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
}

#src-btn {
  bottom: 15px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: 15px 25px;
  border-radius: 30px;
  background: #4a98f7;
}

.src-preview {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.65);
  transition: all 0.15s ease;
}

.src-preview.show {
  opacity: 1;
  pointer-events: auto;
}

.src-preview .screenshot {
  width: 70%;
  top: 50%;
  opacity: 0;
  pointer-events: none;
  aspect-ratio: 16 / 9;
  transition: transform 0.15s ease;
  transform: translate(-50%, -50%) scale(0.9);
}

.src-preview.show .screenshot {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.screenshot #close-btn {
  position: absolute;
  right: -25px;
  color: #fff;
  cursor: pointer;
  font-size: 1.1rem;
}

.screenshot img {
  width: 100%;
}