body {
  background-color: rgb(255, 255, 255);
}

.app {
  max-width: 100vw;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: rgb(72, 49, 49);
}

.dashboard {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.frame {
  width: 70vw;
  height: 70vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0));
  border: 2px solid rgb(221, 221, 221);
  border-radius: 12px;
  /* overflow: auto; */
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.itemForms {
  background-image: linear-gradient(rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0));
  border: 2px solid rgb(221, 221, 221);
  padding: .8rem 1.2rem;
  border-radius: .6rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: .2rem;
  ;
}

input,
textarea,
select {
  padding: .2rem .4rem;
  margin: .2rem;
}

li {
  padding: .2rem .4rem;
  list-style: none;
  color: #cbd5e1;
  border-radius: .2rem;
}

li button {
  color: #cbd5e1;
}

.text {
  color: white;
  font: 18px serif;
  height: 100%;
  overflow: auto;
}

svg text {
  fill: blue;
  stroke: red;
  stroke-width: 0.3;
  stroke-linejoin: round;
  stroke-linecap: round;
}

button,
::file-selector-button {
  background-color: rgb(89, 89, 255);
  outline: none;
  border: none;
  color: white;
  padding: .5rem 1.5rem;
  border-radius: .4rem;
}



.moodboard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


/* File upload form */
#form-file-upload {
  height: 8rem;
  width: 100%;
  max-width: 100%;
  text-align: center;
  position: relative;
}

#input-file-upload {
  display: none;
}

#label-file-upload {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-radius: 1rem;
  border-style: dashed;
  border-color: #cbd5e1;
  background-color: rgb(89, 89, 255);
  color: #ffffff;
}

#label-file-upload.drag-active {
  background-color: #e5c0c0;
}

.upload-button {
  cursor: pointer;
  padding: 0.25rem;
  font-size: 1rem;
  border: none;
  font-family: 'Oswald', sans-serif;
  background-color: transparent;
}

.upload-button:hover {
  text-decoration-line: underline;
}

#drag-file-element {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}